*,
*:after,
*:before {
  box-sizing: border-box;
}
html {
  scrollbar-color: linear-gradient(to bottom, #201c29, #100e17);
  scrollbar-width: 10px;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

html::-webkit-scrollbar-thumb {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#201c29),
    to(#100e17)
  );
  background: linear-gradient(to bottom, #201c29, #100e17);
  border-radius: 10px;
  -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

html::-webkit-scrollbar-track {
  background: linear-gradient(
    to right,
    #201c29,
    #201c29 1px,
    #100e17 1px,
    #100e17
  );
}

pre::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

pre::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

pre::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px #8e0b30 inset !important;
 box-shadow: 0 0 0 30px #8e0b30 inset !important;
}
input:-webkit-autofill
{
 -webkit-text-fill-color: #fe7299 !important;
}
.cover {
  margin-bottom: 1em;
  border-radius: 12px;
  border: thin black;  
  width: 100%;
  object-fit: cover;
}
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--font-family);
  font-size: 18px;
}
code {
  font-family: var(--font-family-mono);
}
main {
  p {
    line-height: 1.5;
  }
}
a {
  color: var(--home-link-color);
  text-decoration: none;
  &:hover {
    color: var(--home-link-hover-color);
  }
}
